/* 全局变量 */

//背景颜色
$backImgLight: url("data:image/webp;base64,UklGRjAAAABXRUJQVlA4TCQAAAAvGoADAA/w9v+3/7/9f/7jAQbZRuq5nMzpPfYTRPS/B7sG4B8=");
$backImgDark: url("data:image/webp;base64,UklGRlIAAABXRUJQVlA4TEUAAAAvBcACAD9AIGmbYtsjnUDSNsW2RzqBpG2KbY/0+Y//AQAVALANAAYhSTmFFFJI4RVSOIX8J4mI/odTTq2spC99Ekn5RCIA");
$backImgEcailles: url("data:image/webp;base64,UklGRoYAAABXRUJQVlA4THkAAAAvL8AEEH9AIEDh/+XCDQIBCv8vFwykbXP/lrc9wxnJ0d7ez/Z+ILa3kfDz085PO+2ATWTbTg45JwdIQQoSMPI9/JYgDg1Up6ON6L+CtA0YAe2OjIX3YTUcjHQo7tzLqLhAth2Kg4xCcR8jEcswltEikgmagex3f84AAA==");
$backInputLight: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAQklEQVR42oWPwQkAMAgDs/+wrpAWoRxEoY8oyhmMqspXst1a5i76QAICeB0oHRDgGwAm6FyszuMyev6UIIFGEiASH1Ak+dP7CziGAAAAAElFTkSuQmCC");
